<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPjYie2wB4jFGNl0Z_Sa9IjrUEyZRWzc8</string>
	<key>GCM_SENDER_ID</key>
	<string>315239090564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectInitial</string>
	<key>PROJECT_ID</key>
	<string>login-logout-be3b5</string>
	<key>STORAGE_BUCKET</key>
	<string>login-logout-be3b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315239090564:ios:a7254401afd2d30f4fb5d1</string>
</dict>
</plist>